<!-- Header -->
<div style="background:#88aef7">
<header class="bg-primary py-5 mb-5">
  <div style="background:#88aef7">
  <p class="m-0 text-center text-white">
   
    <div class="align-items-center">
<center>
         <img src="/assets/images/calgary2.jpg" 
              alt="Banff CCO Public Domain Photo https://www.publicdomainpictures.net/en/view-image.php?image=166668&picture=canadian-rockies-moraine-lake"/>
         
        
      
   <font style="color:white">  <h2>
The 18th IEEE International Conference on Dependable, Autonomic & Secure Computing (DASC 2021)
        </h2>
        </font>
      </center>
  </div>
    
      </div>
    </div>
    </div>
</header>
