<div class="col-md-4 mb-5">
  <h4>  Important dates (Tentative)</h4>
  <hr />

<p>
 
  
  <b>Workshop/SS ProposalDue: </b>	 Feb 28, 2021
 </p><p><b>Abstract Submission Due: </b>	April 15, 2021
 </p><p><b>Full Paper Submission Due: </b>	May 01, 2021
 </p><p><b>Demo/Poster/WiP Paper Due: </b>	May 20, 2021
 </p><p><b>Authors Notification: </b>	June 01, 2021
 </p><p><b>Camera-ready Submission: </b>	June 20, 2021
   </p>
<p>
  <hr/>
  <h4>CFP Files</h4> 
  <a href="/2021/assets/files/CFP-DASC2021-2.6v2.pdf" target=_new>DASC 2021 CFP</a>
  </p><p>
  <hr/> 
<h4> Sponsored By</h4>
  <img src="/2021/assets/images/IEEE.png" class="img-fluid" alt="IEEE"/>&nbsp;&nbsp;&nbsp;
  <img src="/2021/assets/images/ieeecs.jpg" class="img-fluid" alt="IEEECS"/><br/><br/>
<h4> Supported By</h4>

<img src="/2021/assets/images/smclogo.jpg" class="img-fluid" alt="SMC"/>&nbsp;&nbsp;&nbsp;
  <img src="/2021/assets/images/swtclogo.jpg" class="img-fluid" alt="SWT"/><br/>
 <br/>

<img src="/2021/assets/images/tcsclogo.jpg" class="img-fluid" alt="TCST"/>&nbsp;&nbsp;&nbsp;
  <img src="/2021/assets/images/au.png" class="img-fluid" alt="AU"/>
  
  </p><p>
<hr/>

  <h4> Past Conferences</h4>
<a href="http://cyber-science.org/2020/dasc/">DASC 2020<a> <br>
<a href="http://cyber-science.org/2019/dasc/">DASC 2019<a> <br>
<a href="http://cyber-science.org/2018/dasc/">DASC 2018<a> <br>

</p>
  </div>
