<div class="col-md-4 mb-5">
  <h4>  Important dates</h4>
  <hr />

<p>
  <b>Abstract Submission Date:</b> 2021-04-15
  </p><p><b>
Full Paper Submission Date:</b> 2021-05-01
</p><p><b>
Notification of Acceptance Date:</b> 2021-06-01
</p><p><b>
Final Paper Submission Date:</b> 2021-06-20
  </p>
</div>

<p>
  <b> Honorary Chairs </b> <br>
Stephen S. Yau, Arizona State University, USA
<br>
  <b>General Chairs </b> <br>
Oscar Lin, Athabasca University, Canada<br>
Henry Leung, The University of Calgary, Canada<br>

  <b>General Executive Chairs </b> <br>
Giancarlo Fortino, University of Calabria, Italy
<br>
Jun Zhao, Dalian University of Technology, China
<br>
  <b> Program Chairs </b> <br>
Antonio Liotta, Edinburgh Napier University, UK
<br>
Xiaokang Zhou, Shiga University, Japan
<br>
</p>
