<div class="col-md-4 mb-5">
  <h4>  Important dates</h4>
  <hr />

<p>
  <b>Abstract Submission Date:</b> 2021-06-15
  </p><p><b>
Full Paper Submission Date:</b> 2021-07-01
</p><p><b>
Notification of Acceptance Date:</b> 2021-08-01
</p><p><b>
Final Paper Submission Date:</b> 2021-09-01
  </p>
<hr/> 
  <p>
<h4> Sponsored By</h4>
  <img src="/2021/assets/images/IEEE.png" class="img-fluid" alt="IEEE"/>&nbsp;&nbsp;&nbsp;
  <img src="/2021/assets/images/ieeecs.jpg" class="img-fluid" alt="IEEECS"/><br/><br/>
<h4> Supported By</h4>

<img src="/2021/assets/images/smclogo.jpg" class="img-fluid" alt="SMC"/>&nbsp;&nbsp;&nbsp;
  <img src="/2021/assets/images/swtclogo.jpg" class="img-fluid" alt="SWT"/><br/>
 <br/>

<img src="/2021/assets/images/tcsclogo.jpg" class="img-fluid" alt="TCST"/>&nbsp;&nbsp;&nbsp;
  <img src="/2021/assets/images/au.png" class="img-fluid" alt="AU"/>
  
  </p>
<hr/>
<p>
  <h4> Past Conferences</h4>
<a href="http://cyber-science.org/2020/cbdcom/">CBDCom 2020<a> <br>
<a href="http://cyber-science.org/2019/cbdcom/">CBDCom 2019<a> <br>
<a href="http://www.smart-world.org/2018/cbdcom/">CBDCom 2018<a> <br>

</p>
  
  </div>
