<div class="col-md-4 mb-5">
  <h4>  Important dates  <font color=red>NEW</font></h4>
  <hr />

<p>
  
<b>Main Conference Papers </b>
<br/>
  Paper Submission Due: July 01, 2021
<br/>Authors Notification: Aug. 01, 2021
<br/>Camera-ready Submission: Sept. 1, 2021
<br/><br/>

<b>Workshop /Special Session Papers </b>

<br/>Submission Due:  August 8, 2021.
<br/>Author Notification Due: September 6, 2021
<br/>Camera-ready Submission: Sept. 20, 2021

  </p>
<hr/>
  <h4>CFP Files</h4> 
  <a href="/2021/assets/files/CFP-PICom2021.pdf" target=_new>PICom 2021 CFP</a>
  </p><p>
  <hr/> 
  <p>
<h4> Sponsored By</h4>
  <img src="/2021/assets/images/IEEE.png" class="img-fluid" alt="IEEE"/>&nbsp;&nbsp;&nbsp;
  <img src="/2021/assets/images/ieeecs.jpg" class="img-fluid" alt="IEEECS"/><br/><br/>
<h4> Supported By</h4>

<img src="/2021/assets/images/smclogo.jpg" class="img-fluid" alt="SMC"/>&nbsp;&nbsp;&nbsp;
  <img src="/2021/assets/images/swtclogo.jpg" class="img-fluid" alt="SWT"/><br/>
 <br/>

<img src="/2021/assets/images/tcsclogo.jpg" class="img-fluid" alt="TCST"/>&nbsp;&nbsp;&nbsp;
  <img src="/2021/assets/images/au.png" class="img-fluid" alt="AU"/>
  
  </p>
<hr/>
<p>
  <h4> Past Conferences</h4>
<a href="http://cyber-science.org/2020/picom/">PICom 2020<a> <br>
<a href="http://cyber-science.org/2019/picom/">PICom 2019<a> <br>
<a href="http://cyber-science.org/2018/picom/">PICom 2018<a> <br>

</p>
  
  </div>
